*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 15px;
}
.main{
    width: 100vw;
    height: 75vh;
    background-color: whitesmoke;
}
.navbar{
    background-color: rgb(63, 166, 251);
    display: flex;
    justify-content: space-around;
    height: 10vh;
    align-items: center;
    color: #fff;
}
.hero{
    width: 100vw;
    height: 30vh;
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.user-profile{
    margin-top:-80px ;
    margin-left: 80px;
    display: flex;
    flex-direction: column;

}
.profile-img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: solid whitesmoke 3px;
}

#users{
    padding: .8rem 4rem;
    border: none;
    outline: none;
    
}


.location-wrapper{
    display: flex;
    gap: 20px;
  
 
}
h2{
    margin-bottom: 20px;
}
p{
    margin-bottom: 5px;
}

.posts{
    width: 50%;
    height: 100vh;    
}
.post-wrapper,.comment-wrapper{
    display: flex;
    flex-direction:column;
    
}

.header{
    display: flex;
    gap: 20px; 
}

.post-card,.comment-card{
    display: flex;
    padding: 30px;
    gap: 10px;
    cursor: pointer; 

}
.post-image{
    width: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.icon-wrapper{
    width: 100px;
    display: flex;
}
.posts-comments-wrapper{
   margin: 20px auto;
    display: flex;
    width: 100%;
    height: 100%;
    padding:0px 20px;
   
    
}
.comments{
    width: 50%;
    height: 100vh;
    height: fit-content;
}

.footer{
    display: flex;
    align-items: center;
    gap: 20px;
}
.msg-wrapper,.repost-wrapper,.like-wrapper{
    display: flex;
    gap: 5px;
}

.icons{
    width: 20px;
    height: 20px;
    margin-right: 10px;

}


